/* variables */
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
header {
  background-color: rgb(4, 4, 39);
  position: relative;
  padding: 0 2rem;
  background-color: rgb(3, 8, 40);
  text-decoration: none;
}
header #navbar {
  width: 100%;
  height: 90px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #navbar .logo {
  display: flex;
  height: 2rem;
  width: auto;
  justify-content: center;
  align-items: center;
}
header #navbar .logo a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(24, 22, 119);
}
header #navbar .logo a:hover {
  color: rgb(3, 2, 31);
}
header #navbar .logo a img {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #navbar .lista {
  display: flex;
  gap: 2rem;
}
header #navbar .lista li {
  display: flex;
  gap: 2rem;
  list-style: none;
}
header #navbar .lista li a {
  text-decoration: none;
  color: rgb(225, 225, 225);
  font-size: 1rem;
}
header #navbar .lista li a:hover {
  color: rgb(255, 204, 0);
}
header #navbar .action_btn {
  background-color: rgb(226, 140, 27);
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
header #navbar .action_btn:hover {
  scale: 1.08;
  color: black;
}
header #navbar .action_btn:active {
  scale: 0.95;
}
header #navbar .toggle_btn {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
header .dropdown_menu {
  position: absolute;
  height: 0;
  display: none;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header .dropdown_menu .open {
  height: 240px;
}
header .dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .dropdown_menu li a {
  text-decoration: none;
  color: antiquewhite;
}
header .dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(226, 140, 27);
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
header .dropdown_menu .action_btn:hover {
  scale: 1.08;
  color: black;
}
header .dropdown_menu .action_btn:active {
  scale: 0.95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

@media (max-width: 992px) {
  body #navbar .lista, body .action_btn {
    display: none;
  }
  body #navbar .toggle_btn {
    display: block;
  }
  body .dropdown_menu {
    display: block;
  }
}
@media (min-width: 993px) {
  body .dropdown_menu {
    display: none;
  }
}

/* variables */
/* variables */
.imagen-vinoteca {
  display: flex;
  position: relative;
  background-image: url("/images/vinoteca.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}
.imagen-vinoteca h1 {
  width: 100%;
  position: absolute;
  left: 5%;
  bottom: 50%;
  font-size: 65px;
  color: rgb(255, 205, 42);
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 2%;
  font-family: "Vidaloka", serif;
}

/*# sourceMappingURL=style.css.map */
