/* variables */
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
header {
  background-color: rgb(4, 4, 39);
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.808);
  text-decoration: none;
  display: flex;
  justify-content: center;
}
header #navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #navbar .logo {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}
header #navbar .logo a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(24, 22, 119);
}
header #navbar .logo a:hover {
  color: rgb(3, 2, 31);
}
header #navbar .logo a .logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: auto;
  padding-top: 2rem;
}
header #navbar .lista {
  display: flex;
  gap: 5rem;
}
header #navbar .lista li {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
}
header #navbar .lista li a {
  text-decoration: none;
  color: rgb(1, 1, 27);
}
header #navbar .lista li a:hover {
  color: rgb(255, 206, 11);
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 0.5rem;
  transition: 0.5s;
}
header #navbar .action_btn {
  background-color: rgb(255, 195, 32);
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
header #navbar .action_btn:hover {
  scale: 1.08;
  color: black;
}
header #navbar .action_btn:active {
  scale: 0.95;
}
header #navbar .toggle_btn {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
header .dropdown_menu {
  position: absolute;
  height: 0;
  display: none;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header .dropdown_menu .open {
  height: 240px;
}
header .dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .dropdown_menu li a {
  text-decoration: none;
  color: antiquewhite;
}
header .dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(226, 140, 27);
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
header .dropdown_menu .action_btn:hover {
  scale: 1.08;
  color: black;
}
header .dropdown_menu .action_btn:active {
  scale: 0.95;
}

/* variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

@media (max-width: 992px) {
  body #navbar .lista, body .action_btn {
    display: none;
  }
  body #navbar .toggle_btn {
    display: block;
  }
  body .dropdown_menu {
    display: block;
  }
}
@media (min-width: 993px) {
  body .dropdown_menu {
    display: none;
  }
}

/* variables */
/* variables */
.imagen-vinoteca {
  display: flex;
  background-image: url("/images/vinoteca.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.imagen-vinoteca h1 {
  width: 100%;
  position: absolute;
  left: 5%;
  bottom: 50%;
  font-size: 65px;
  color: rgb(255, 205, 42);
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 2%;
  font-family: "Vidaloka", serif;
}

/* variables */
#gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
  margin: 5px;
}
#gallery-container .div-card {
  height: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  border: 2px solid rgb(185, 185, 185);
  -webkit-box-shadow: 0px 0px 26px 11px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 26px 11px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 26px 11px rgba(0, 0, 0, 0.18);
}
#gallery-container .div-card .cards {
  margin: 10px;
  width: auto;
  height: 240px;
  border-radius: 8px;
}
#gallery-container .div-card h3 {
  text-align: center;
  margin: 10px;
  font-size: 15px;
}

/* variables */
.footer {
  height: 30rem;
  font-family: "Cormorant Garamond", serif;
}
.footer #footer-01 {
  background-color: rgb(238, 238, 238);
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer #footer-01 .info-footer {
  display: flex;
  align-items: center;
}
.footer #footer-01 .info-footer a #logo-footer {
  width: 20rem;
  height: auto;
}
.footer #footer-01 .info-footer .ul-01 {
  list-style: none;
  padding: 0 7rem;
  line-height: 3rem;
}
.footer #footer-01 .info-footer .ul-01 a {
  text-decoration: none;
  color: rgb(58, 54, 54);
}
.footer #footer-01 .info-footer .ul-02 {
  list-style: none;
  padding: 0 7rem;
  line-height: 2rem;
}
.footer #footer-01 .info-footer .ul-02 a {
  text-decoration: none;
  color: rgb(58, 54, 54);
}
.footer #footer-02 {
  background-color: rgb(223, 182, 1);
  color: rgb(58, 54, 54);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
