@import "../base/variables";
@import "../base/listas";

.header {
  background-color: $bg-color-general;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.808);
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  #navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin-right: 200px;
      a {
        .logo-header {
          display: flex;
          align-items: start;
          justify-content: start;
          height: 85px;
          width: auto;
        }
      }
    }

    .lista {
      display: flex;
      justify-content: space-between;
      width: 1200px;

      li {
        display: inline-block;
        position: relative;
        list-style: none;
        font-size: 1.2rem;
        position: relative;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.08);
        }

        a {
          height: 20px;
          text-decoration: none;
          color: rgb(1, 1, 27);
          transition: all 0.5s;

          &:hover {
            padding: 4.5px 6px;
            color: rgb(255, 196, 0);
            background-color: rgba(0, 5, 49, 0.788);
            border-radius: 2px;
          }
        }
      }
      #submenu {
        position: relative;

        #imagen-carrito {
          position: relative;
        }

        .submenu {
          position: absolute;
          display: none;

          #carrito {
            display: block;
          }
        }
      }
    }
  }
}
