@import "../base/variables";
@import "../base/listas";

.header {
  background-color: $bg-color-general;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.808);
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  #navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin-right: 200px;
      a {
        .logo-header {
          display: flex;
          align-items: start;
          justify-content: start;
          height: 85px;
          width: auto;
        }
      }
    }

    .lista {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      #submenu {
        position: relative;
        #carrito {
          display: none;
          #lista-carrito {
            position: relative;
            margin-top: 0;
            font-size: 20px;
            border: 2px solid rgb(3, 16, 71);
            height: 350px;
            width: 300px;
            font-size: 15px;
            font-family: "Playfair Display", serif;
          }
          .vaciar-carrito {
            color: rgba(7, 16, 90, 0.692);
            height: 35px;
            margin-top: 10px;
            width: 100%;
            border: 2px solid rgba(0, 11, 56, 0.548);
            background-color: rgb(255, 255, 255);
            letter-spacing: 1px;
            font-size: 12px;
          }
        }
        &:hover {
          #carrito {
            display: block;
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 1;
            background-color: white;
            padding: 20px;
            min-height: 400px;
            min-width: 300px;
            border: 1px solid black;
          }
        }
      }

      li {
        display: inline-block;
        position: relative;
        list-style: none;
        font-size: 1.2rem;
        position: relative;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.08);
        }

        a {
          height: 20px;
          text-decoration: none;
          color: rgb(1, 1, 27);
          transition: all 0.5s;
          &:hover {
            padding: 4.5px 6px;
            color: rgb(3, 3, 3);
            background-color: rgb(255, 145, 0);
            border-radius: 2px;
          }
        }
      }
    }
  }
}
