/* variables */

//background color
$bg-color-general: rgb(1, 1, 26);

//fontsize
$font-size: 25px;

//borderProductos
$border-productos: 2px solid rgb(1, 1, 26);

// font-family: 'Vidaloka', serif;
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

