/* variables */

//background color
$bg-color-general: rgb(1, 1, 26);

//fontsize
$font-size: 25px;

//borderProductos
$border-productos: 2px solid rgb(1, 1, 26);

//background color buttton
$bg-button: rgb(255, 238, 0);
